<template>
  <main class="content container">
    <div class="content__top content__top--catalog">
      <h1 class="content__title">
        Каталог
      </h1>
      <span class="content__info">
        Найдено товаров: {{ countProducts }}
      </span>
    </div>

    <div class="content__catalog">
      <ProductFilter :price-from.sync="filterPriceFrom" :price-to.sync="filterPriceTo"
                     :category-id.sync="filterCategoryId" :color-id.sync="filterColorId"
                     :page.sync="page" />
      <section class="catalog">
        <div class="cont" v-if="productsLoading">
          <div class="dash uno"></div>
          <div class="dash dos"></div>
          <div class="dash tres"></div>
          <div class="dash cuatro"></div>
        </div>
        <div v-if="productsLoading">Загрузка страницы...</div>
        <div v-if="productsLoadingFailed">Ошибка загрузки страницы...
          <button @click.prevent="loadProducts">Попробовать еще раз</button>
        </div>
        <ProductList :products="products" :color-id="filterColorId" />
        <BasePagination v-model="page" v-if="countProducts > productsPerPage" :count="countProducts"
                        :per-page="productsPerPage"/>
      </section>
    </div>
  </main>
</template>

<script>
import ProductList from '@/components/ProductList.vue';
import BasePagination from '@/components/BasePagination.vue';
import ProductFilter from '@/components/ProductFilter.vue';
import axios from 'axios';
import BASE_API_URL from '@/config';

export default {
  name: 'MainPage',
  components: { ProductFilter, BasePagination, ProductList },
  data() {
    return {
      filterPriceFrom: 0,
      filterPriceTo: 0,
      filterCategoryId: 0,
      filterColorId: 0,
      page: 1,
      productsPerPage: 3,
      productData: null,
      productsLoading: false,
      productsLoadingFailed: false,
    };
  },
  watch: {
    // pageNumber(value) {
    //   this.page = value;
    // },
    page() {
      this.loadProducts();
    },
    filterPriceFrom() {
      this.loadProducts();
    },
    filterPriceTo() {
      this.loadProducts();
    },
    filterCategoryId() {
      this.loadProducts();
    },
    filterColorId() {
      this.loadProducts();
    },
  },
  computed: {
    products() {
      // const offset = (this.page - 1) * this.productsPerPage;
      // return this.filteredProducts.slice(offset, offset + this.productsPerPage);
      return this.productData
        ? this.productData.items.map((product) => (
          {
            ...product,
            image: product.image.file.url,
          }
        )) : [];
    },
    countProducts() {
      return this.productData ? this.productData.pagination.total : 0;
    },
  },
  methods: {
    loadProducts() {
      this.productsLoading = true;
      clearTimeout(this.loadProductsTimer);
      this.loadProductsTimer = setTimeout(() => {
        axios.get(`${BASE_API_URL}/api/products`, {
          params: {
            page: this.page,
            limit: this.productsPerPage,
            categoryId: this.filterCategoryId,
            colorId: this.filterColorId,
            minPrice: this.filterPriceFrom,
            maxPrice: this.filterPriceTo,
          },
        })
          .then((response) => { this.productData = response.data; })
          .catch(() => { this.productsLoadingFailed = true; })
          .then(() => { this.productsLoading = false; });
      }, 100);
    },
  },
  created() {
    this.loadProducts();
  },
};
</script>
<style scoped>

</style>
