<template>
  <div>
    <router-link class="catalog__pic" :to="{name: 'product', params: {id: product.id}}">
      <img :src="product.image" :alt="product.title" />
    </router-link>

    <h3 class="catalog__title">
      <a href="#">
        {{ product.title }}
      </a>
    </h3>

    <span class="catalog__price">
      {{ product.price | numberFormat }} ₽
    </span>

   <ProductColor :colors="product.colors" :color-id="colorId"/>
  </div>
</template>

<script>
import gotoPage from '@/helpers/gotoPage';
import numberFormat from '@/helpers/numberFormat';
import ProductColor from './ProductColor.vue';

export default {
  name: 'ProductItem',
  components: { ProductColor },
  props: ['product', 'colorId'],
  filters: {
    numberFormat,
  },
  methods: {
    gotoPage,
  },
};
</script>
